#cases {
  border: 1px solid #EEE;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;

  h1 {
    position: relative;
    margin-top: -10px;
  }

  .case {
    position: relative;
    height: 400px;
  }
}