#hero {
	position: relative;
	background-color: #FFF;
	padding-top: 60px;
	padding-bottom: 60px;
	margin-top: -20px;

	.colorized {
		position: relative;
		background-clip: text;
		color: transparent;
		background-image: linear-gradient(to right, orange, red);
		animation: gradientMovement 5s linear infinite;
	}
	
	@keyframes gradientMovement {
		0% {
			background-position: 0% 50%;
		}
		100% {
			background-position: 100% 50%;
		}
	}

	h1 {
		position: relative;
		font-size: 42px;
		font-weight: bold;
	}

	p {
		position: relative;
		font-size: 16px;
		margin-top: 20px;
	}

	.jumbotron {
		position: relative;
		border: 1px solid #EEE;
		height: 350px;
	}

	button {
		position: relative;
		color: #FFF;
		font-weight: bold;
		background-image: linear-gradient(to right, orange, red);
		border: none;
		width: 150px;
		border-radius: 0px;
		padding: 10px 20px;
		cursor: pointer;
		margin-bottom: 80px;
	}

	.logo {
		position: relative;
		background-color: #EEE;
		border: 1px solid #EEE;
		padding: 15px;
	}
}