#contact {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;

  h1 {
    position: relative;
    margin-top: -10px;
    margin-bottom: 30px;
  }

  .jumbotron {
    position: relative;
    border: 1px solid #EEE;
  }
}